<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Title</title>
    <style>
        a {
            text-decoration: none;
        }
        A {
            color: #4d4d4d; /* Цвет ссылок */
        }
        A:visited {
            color: #4d4d4d; /* Цвет посещенных ссылок */
        }
        A:active {
            color: #4d4d4d; /* Цвет активных ссылок */
        }
    </style>
</head>
<body>
<div th:replace="navbar :: nav"></div>
</body>
</html>